<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.integrals.inlens">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="TASKS" />

    <application
        android:name=".InLens_Offline_Cache"
        android:allowBackup="true"
        android:icon="@drawable/inlens_logo_m"
        android:label="@string/app_name"
        android:roundIcon="@drawable/inlens_logo_m"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.WorkingIntroActivity" />
        <activity android:name=".Activities.IssueActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.integrals.inlens.in"
                    android:pathPattern=".*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ServiceImplementation.BroadCastReceivers.NotificationWorks"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.InLens.UPLOAD" />
                <action android:name="com.InLens.RIGHT" />
                <action android:name="com.InLens.LEFT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ServiceImplementation.InLensGallery.MainActivity"
           android:screenOrientation="portrait"
           android:theme="@style/AppThemeGallery"
           android:autoRemoveFromRecents="true"
        />


        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- optional (needed if default theme has no action bar) -->
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CalenderTheme"/>
        <activity
            android:name=".Activities.AttachSituation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AttachSituation$WeatherLayout"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Activities.CreateCloudAlbum"
            android:screenOrientation="portrait"
            android:theme="@style/CalenderTheme"/>


        <activity
            android:name=".Activities.RegisterUser"
            android:screenOrientation="portrait"
            android:theme="@style/CalenderTheme"/>
        <activity
            android:name=".Activities.CloudAlbum"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"/>
        <activity
            android:name=".Activities.QRCodeGenerator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.QRCodeReader"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.vision"
            android:value="barcode" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name=".ServiceImplementation.Service.UploadService" />
        <service
             android:name=".ServiceImplementation.JobScheduler.JobService"
             android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name=".ServiceImplementation.JobScheduler.AlertNotificationJobPackage.JobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />



        <activity android:name=".Activities.ResetPassword"
            android:theme="@style/CalenderTheme"/>
        <activity android:name=".Activities.PhotoView" />
        <activity
            android:name=".Activities.IntroActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activities.SharedImageActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/NoActionBarTheme" />
    </application>

</manifest>